.films-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px;
}

.film-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 0 20px 10px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.film-card h4 {
    font-size: 1.5em;
    color: #333;
}

.film-card p {
    color: #555;
    font-size: 1.1em;
    margin: 10px 0;
}

/* Liste : */
#tableauFilms {
    margin: 0 auto;
}

#tableauFilms,
td,
th {
    background-color: #fff;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

.btnsTableauActions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-items: stretch;
    justify-content: center;
}

/* Détails Film : */

.detailsFilm {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.detailsFilm h1 {
    color: #333;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.detailsFilm h1 a {
    font-weight: normal;
    text-align: center;
    font-size: 30px;
}

.detailsFilm ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.1em;
    color: #555;
}

.detailsFilm li {
    margin-bottom: 10px;
}

.detailsFilm li strong {
    color: #333;
    font-weight: bold;
}