<footer class="bg-dark text-white text-center py-3 mt-4">
	<div class="container">
        <p class="mb-0">Copyright © {{ "now"|date("Y") }}
			<strong>Filmoteca</strong>. Tous droits réservés. Jonathan LEVY</p>
	</div>
</footer>
