{% extends 'index.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
<div class="container my-5 text-center">
    <h1 class="mb-4">Bienvenue sur <b>Filmoteca</b>!</h1>

    <!-- Bouton d'ajout de films -->
    <a href="/films/create" class="btn btn-success btn-lg mb-3">
        <i class="bi bi-plus-circle"></i> Ajouter des films
    </a>

    <hr class="my-4">

    <!-- Lien pour voir les films -->
    <a href="/films" class="btn btn-primary btn-lg">
        <i class="bi bi-film"></i> Voir tous mes films
    </a>
</div>
{% endblock %}
